name: ci

on:
  push:
    branches:
      - main
  pull_request:
    paths-ignore:
      - 'README.md'

env:
  GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

jobs:
  style-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: coursier/cache-action@v7
    - uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: 17

    - name: Check formatting
      run: 
        ./mill -i __.checkFormat

    - name: Check scalafix
      run: 
        ./mill -i __.fix --check

  test:
    runs-on: 'ubuntu-latest'
    strategy:
      fail-fast: false
      matrix:
        java: ['11', '17']

    steps:
    - uses: actions/checkout@v6
    - uses: coursier/cache-action@v7
    - uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: ${{ matrix.java }}

    - name: Tests
      run:
        ./mill -i __.test

  mima:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: coursier/cache-action@v7
    - uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: 17

    - name: MiMa Check
      run: 
        ./mill -i __.mimaReportBinaryIssues
